#IDE
.idea

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

scrapers/lsf_scraper/lecture_results.json
scrapers/vdb_scraper/description_results.json

scrapers/lsf_scraper/lsf_scraper/Data/post_processed_lectures.json
scrapers/vdb_scraper/vdb_scraper/Data/post_processed_descriptions.json

scrapers/vdb_scraper/vdb_scraper/description_results.json

Courses_data.csv
test.py

scrapers/merged_data.json
scrapers/study_programs.json